* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.bg {
  background-color: #E5C6FA;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
}

.bg .todolist {
  border-style: solid;
  border-radius: 59px;
  border-color: #891796;
  border-width: 7px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px;
  max-width: 850px;
  height: 600px;
}

.bg .todolist .list_box {
 width: 600px;
 height: 600px;
 display: flex;
 flex-direction: column;
 align-items: center;
 box-sizing: border-box;
}

.bg .todolist .list_box .title {
 height: 50px;
 margin-top: 50px;
}

.bg .todolist .list_box .title h1 {
  color: #891796;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 2px gray;
}

.bg .todolist .add {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  padding: 0px 40px;
  margin : 20px 0px;
  justify-content: space-between;
}

.bg .todolist .list_box .add .input_box {
  border-bottom: solid 5px #5A5A5A;
  width: 430px;
}

.bg .todolist .list_box .add .input_box input {
  height: 100%;
  width: 100%;
  border-style: none;
  padding-left: 10px;
  font-size: 20px;
  outline: none;
  font-weight: bold;
}

.bg .todolist .list_box .add img {
  height: 50px;
  width: 50px;
}
.bg .todolist .list_box .body {
  width: 100%;
  justify-content: flex-start;
  padding: 0px 40px;
  margin: 20px 0px;
}

.bg .todolist .list_box .body .content {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 15px;
}

.bg .todolist .list_box .body .content img {
  width: 40px;
  height: 40px;
}

.bg .todolist .list_box .body .content .check {
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
}

.bg .todolist .list_box .body .content .check ul li{
  font-size: 25px;
  font-weight: bold;
}

.bg .todolist .list_box .body .content .check img {
  margin-right: 15px;
}

.bg .todolist .list_box .body .content .check .check_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg .todolist .list_box .body .content .check .check_img img{
  justify-content: center;
  align-items: center;
}

.bg .todolist .list_box .body .content .modify {
  
  /* background-color: red; */
}

.bg .todolist .list_box .body .content .modify #pencil {
  margin: 0px 10px;
}